{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="">Treat yourself in 2022</h1>
                <div class="">
                    <h4 class="">
                        <a href="" class="">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}