<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-confectionary-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Sweets 'N' Treats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-confectionary-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">Name</a>
                <a href="" class="dropdown-item ">Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pic-n-mix-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick 'N' Mix
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pic-n-mix-link">
                <a href="" class="dropdown-item">Fizzy Sweets</a>
                <a href="" class="dropdown-item">Jelly and Foam Sweets</a>
                <a href="" class="dropdown-item">Chocolate and Toffee Sweets</a>
                <a href="" class="dropdown-item ">Traditional Sweets</a>
                <a href="" class="dropdown-item">Other Sweets</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gift-packs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Confectionary
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift-packs-link">
                <a href="" class="dropdown-item">Celebrations & Special Occasions</a>
                <a href="" class="dropdown-item">Hampers and Baskets</a>
                <a href="" class="dropdown-item">Other Offers</a>
            </div>
        </li>
    </ul>
</div>